In [0]:
%sql
delete from otc.silver.customer;
delete from otc.silver.product;
delete from otc.silver.orders;
delete from otc.silver.order_items;
delete from otc.silver.payments;
delete from otc.silver.shipments;

In [0]:
%sql
MERGE INTO otc.silver.watermark as w
          USING (
            SELECT STACK(6, 'customer', 'product', 'orders', 'order_items', 'payments', 'shipments') as table_name
            ) AS s
            ON w.table_name = s.table_name
            WHEN NOT MATCHED THEN 
              INSERT (table_name, watermark_ts) VALUES (s.table_name, TIMESTAMP '1900-01-01T00:00:00.000+00:00')